#container {
    display: grid;
    place-items: center center;
    padding: 3px;
}

#container1_4 {
    display: grid;
    place-items: center center;
    padding: 10px;
    width: 40vw;
    border: black solid 2px;
}

#container5 {
    display: grid;
    place-items: center center;
    padding: 10px;
    width: 40vw;
    border: black solid 2px;
}

#container6 {
    display: grid;
    place-items: center center;
    padding: 10px;
    width: 40vw;
    border: black solid 2px;
}

#container7 {
    display: grid;
    place-items: center center;
    padding: 10px;
    width: 40vw;
    border: black solid 2px;
}